@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    pointer-events: none;
    cursor: default;
  }

  h4 {
    margin-bottom: 0rem;
  }

  body {
    @apply dark:bg-[#0C1C2E];
  }
}
